#contactus {
	height: 100vh;
	color: #fff;

}
#contactus h1{
	color: #313131;
	font-weight: bold;
	font-size: 5rem;
	opacity: 0.12;
	margin-top: 3rem;
    margin-bottom: 3rem;
	text-align: center;
}
#contactus .container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
#contactus .contactForm{
	width: 80%;
	padding: 35px;
	background: #fff;
	box-shadow: 0 1.5px 12.5px 0 rgba(0, 0, 0, 0.16);
	border-radius: 7.5px; 
	float: right;
}
#contactus .inputBox{
	position: relative;
	width: 100%;
	margin: 5px;
}
#contactus input, textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 5px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
#contactus span{
	position: absolute;
	left: 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
	padding: 5px 0;
	font-size: 16px;
	margin: 5px 0;
}

#contactus .inputBox input:focus ~ span,
#contactus .inputBox input:valid ~ span,
#contactus .inputBox textarea:focus ~ span,
#contactus .inputBox textarea:valid ~ span
{
	color: #ff857d;
	font-size: 12px;
	transform:translateY(-20px);
}
#contactus input[type="submit"]
{
	width: 100px;
	background:#ff9873;
	border-radius: 7.5px;
	border:none;
	cursor: pointer;
	color: #fff;
	padding: 10px;
	font-size: 18; 
}
/*Right side*/
#contactus .contactusInfo{
	position: relative;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
#contactus .contactusInfo h4{
	color: #ff8a7a;
	font-size: 15.5px;
	margin: 0 163px 9.5px 0;
}

#contactus .contactusInfo h2{
	color: #0c0c0c;
	font-weight: bold;
	font-size: 1.8rem;
	
}

#contactus .contactusInfo p{
	color: #767676;
	
	font-size: 11px;
	width: 17rem ;
}
#contactus .contactusInfo .btn{
	background: #ff9873;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
	/* For Tablet: */
	#contactus{
		height: 137vh;
	}
	#contactus .contactForm{
		width: 60%;
		float: none;
	}
}	
@media only screen and (max-width: 425px) {
	/* For mobile phones: */
	#contactus{
		height: 143vh;
	}
	#contactus h1{
		font-size: 3rem;
	}
	#contactus .contactForm{
		float: none;
		margin-left: 32px;
	}
	#contactus .contactusInfo{
		padding: 0px;
	}
	#contactus .contactusInfo h4{
		margin:0;
		margin-top: 18px;
	}
}	